/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    #header_area .navbar-nav{
        text-align: center;
    }
    #header_area .navbar-nav .nav-item:last-child {
        display: block !important;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    /* header start */
    #header_area .navbar-nav .nav-item:last-child {
        margin-left: 0px;
        display: inherit;
    }
    /* footer start */
    .footer_logo{
        margin-bottom: 35px;
    }
}
